body {
    background: url(images/bg-image.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.weather-status h3{
    font-size: 3rem;
}
.weather-status h3 span{
    font-size: 10rem;
}
